*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-accent: #79addc;
}

html {
  box-sizing: border-box;
  background-color: #fcf5c7;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.6rem;
  position: relative;
}

.container {
  max-width: 325px;
  margin: auto;
}

.hero-text {
  color: var(--color-accent);
  text-align: center;
  padding: 3.5rem;
  line-height: 1.15;
  font-size: 64px;
}

.add-book-div {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: ease-out 0.2s background;
}

.btn--add-book {
  font-size: 18px;
}

.btn--cancel {
  width: 150px;
  display: block;
  background: red;
  outline: 2px solid azure;
  color: azure;
  margin-inline: auto;
  max-height: 48px;
  margin-bottom: 2rem;
}

.btn--cancel:hover {
  background: rgb(167, 0, 0);
}

.d-none {
  display: none;
}

.form {
  background-color: var(--color-accent);
  padding: 3rem;
  padding-bottom: 0.5rem;
  border-radius: 12px;
  color: #fcf5c7;
  max-width: 325px;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}

.form input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 30px 0;
  border: 2px solid var(--color-accent);
  border-radius: 4px;
}

.form-group:nth-child(3) {
  margin-bottom: 30px;
}

.form-group:nth-child(3) label {
  margin-right: 1rem;
}

.form-group:nth-child(3) input {
  border-radius: 4px;
  border: 2px solid var(--color-accent);
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: 16px;
  width: 80px;
}

.form-group--read label:first-child {
  display: block;
  margin-bottom: 16px;
}

.form-group--read input {
  margin-right: 6px;
}

.form-group--read div {
  margin-bottom: 18px;
  padding-left: 1rem;
}

.form-group--read div:last-child {
  margin-bottom: 3.8rem;
}

.submit-btn {
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 16px 32px;
  margin: auto;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  width: 100%;
  margin-bottom: 18px;
}

.library {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 24px;
}

.card {
  background-color: var(--color-accent);
  padding: 1.5rem 3rem;
  border-radius: 8px;
  width: 90%;
  font-size: 16px;
  position: relative;
}

.card-title {
  margin-bottom: 10px;
}

.card p:nth-child(2) {
  margin-bottom: 12px;
}

.card-pages {
  margin-bottom: 12px;
}

.statusBtn,
.btn--remove {
  border-radius: 8px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.statusBtn {
  padding: 3px 12px;
  margin-bottom: 44px;
}

.btn--remove {
  display: block;
  text-align: center;
  margin-inline: auto;
  width: 125px;
  background-color: tomato;
  border: 1px solid tomato;
  color: aliceblue;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1.5rem;
}

.footer {
  position: absolute;
  bottom: -400;
  left: 50%;
  transform: translateX(-50%);
  padding: 3rem 0;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .card {
    min-width: 100%;
    max-height: 345px;
  }

  .library {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    max-width: 1100px;
  }

  .library {
    grid-template-columns: repeat(3, 1fr);
  }
}
